<h1>Add a new show</h1>

<%= form_for @show do |f| %>
	<% if @show.errors.any? %>
	<div id="error_explaination">
		<h3>
			<%= pluralize(@show.errors.count, "error") %> prevented this show from being saved:
		</h3>
		<ul>
			<% @show.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>
	<br>

	<%= f.fields_for :reviews do |ff| %>
	<h4>Leave a review for this show?</h4>
		<div class="field">
			<%= ff.label :Review %><br>
			<%= ff.text_area :comment %>
		</div>
		<div class="field">
			<%= ff.label :rating %><br>
			<%= ff.text_field :rating %>
		</div>
		<%= ff.hidden_field :user_id, :value => current_user.id %>
	<% end %>
	<br>
	<div>
		<%= f.submit %>
	</div>

<% end %>