<div class="container">
    <div class="bg-profile">
        <img align="left" class="bg-image-lg" src="http://image.tmdb.org/t/p/original/<%= @show.backdrop %>" alt=""/>
        <img align="left" class="bg-image-profile thumbnail" src="http://image.tmdb.org/t/p/w500/<%= @show.poster %>" alt=""/>
        <div class="col-md-9">
          <div class="container-fluid">
           <% if current_user %>
            <div class="row">
              <div class="">
                <h1><%= @show.name %></h1>
                <br>
                <%= @show.overview %>
                <br>
                <% if !@show.cast.empty? %>
                  <h4>Cast: </h4><%= @show.cast%>
                <% end %>
                <br>
                <h4>Rating: </h4><%= @show.rating %>
                <br>
                <h4>Genre: </h4><%= @show.genres %>
                <br>
                <h4>Number of Episodes: </h4><%= @show.num_episodes %>
                <br>
                <h4>Number of Seasons: </h4><%= @show.num_seasons %>
                <br>
                <h4>First Aired: </h4><%= @show.created %>
                <br>
                <h4>Network: </h4><%= @show.network %><br>
                <br>
              </div>
          <h2>Reviews</h2>
          </div>
          <% @reviews.each do |r| %>
          <div class="row">
            <h5>User<%= r.user.name %> gave it <%= r.rating %> out of 10</h5>
            <% if r.comment.nil? %>
            <% else %>
              <p><%= r.comment %></p>
            <% end %>
          </div>
          <% end %>
        </div>
        <% end %>
        </div>
    </div>
</div>